
/* root tem como finalidade declarar uma variável, nesse caso cores que se repetirão*/

:root{
    --vermelho:#E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Elementos Base */
body{
    background-color: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

/* Cabeçalho */

header .container{
    display: flex;
    align-items: center;
    position: fixed;
    z-index:2;
}


header .logo{
    width: 100px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 30px;

}

header nav a{
    text-decoration: none;
    color: rgb(226, 223, 223);
    margin-right: 10px;
}

/* hover serve para mudar cor ao aproximar o mouse*/
header nav a:hover{
    color: #fff;
}




/* Série Principal */

.serie_principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('../img/DARK.jpg');
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    /*O Display Flex tem como valor default o row, colocando os itens do lado*/
    /*Quando modificamos o valor padrão do display flex, com o flex-direction,
     os eixos X e Y podem se inverter como no caso abaixo*/
    display: flex;
    flex-direction: column;
    justify-content: center; /*Virou eixo Y, Segue o flex-direction.*/
    align-items: flex-start; /*Virou eixo X*/
    z-index: 0;
}

.serie_principal .descricao{
    margin-top: 10px;
    margin-bottom: 30px;
}

.titulo{
    margin-top: 15%;
    font-size: 35px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0, 0, 0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 20px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5%;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 30px;
}

.serie_principal .container{
    width: 50vw;
}

.container .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}


.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

h2{
    margin: 30px;  
    font-size: 30px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

